

body {
  background-image: url(../img/Pulk2.gif); 
  background-repeat: no-repeat;
  background-size: cover;
  color: #f2f2f2;
  line-height: 1.6;
  margin: 80px;
  padding: 0;
  text-align: justify;
}

header {
  background-color: #000000;
  color: #b59d14;
  padding: 30px ;
  margin-top: 0%;
  text-align: center;
 
}

header h1 {
  font-size: 40px;

 
}

nav {
  background-color: #1b1a1a;
  display: flex;
  justify-content: center;
  padding: 30px 0;
 
}

nav a {
  font-size: 20px;
  color: #ebc805;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;

}


section {
  max-width: 800px;
  margin: 40px auto;
  padding: 40px;
  background-color: #222020;
  border: 1px solid #fafafa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

h2 {
  font-size: 2rem;
  color: #ebc805;
  text-align: center;
  border-bottom: 1px solid #8b0000;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  }
footer {
  background-color: #000000;
  color: #b59d14;
  padding: 30px ;
  margin-top: 0%;
  text-align: center;
  line-height: 0.6;
     }
.logopadrino {
  position:absolute;
  left: 50px;
  top: 8%;
  }
.boton-a {
    font-size: 1.5rem;
    padding: 12px 20px;
    background-color: #a80028;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
   }


